<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>


<section class="vh-100 gradient-custom">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body text-center">

                        <form th:action="@{/change-password}" method="post">
                            <div class="container text-center mb-3 img-fluid">
                                <img alt="default" class="mt-2" style="width: 110px" th:src="@{'/img/default.png'}">
                            </div>

                            <div class="container text-center">
                                <h1>Forgot password</h1>
                                <hr>
                                <input type="password" name="newPassword" class="form-control mt-2" placeholder="Enter new password">
                                <button class="btn btn-outline-warning mt-3" type="submit">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
