<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<section class="vh-100 gradient-custom">
    <div class="container h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-2 text-center">

                        <div class="container">
                            <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert text-center">
                                <div th:text="${session.message.message}"></div>
                                <div th:text="${#session.removeAttribute('message')}"></div>
                            </div>
                        </div>


                        <form th:action="@{/verify-otp}" method="post">
                            <div class="container text-center">
                                <input type="text" name="otp" class="form-control mt-3" placeholder="Enter the OTP sent to your email!">
                                <button class="btn btn-outline-success mt-3 mb-3" type="submit">verify OTP</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>